@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 250px
  .footer
    &-wrapper
      grid-template-columns: 230px 230px repeat(1, 1fr) 200px
      grid-column-gap: 18px
    &__input
      flex-basis: 100%
  .logo
    width: 154px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 340px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
      width: 340px
      height: 255px
      // чтобы заработал адаптив для этого размера нужно не только в медиа запросе прописать все указанное выше но также зайти в _activities/card/img и уже в img поменять выстовить высоту и ширину 100%
  .footer
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 30px
      grid-column-gap: 0
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      justify-self: start
    &__legal
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-row: 2 / 3
      grid-column: span 3
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-column: span 5
        grid-row: 4
    &-end
      padding-top: 33px
      grid-row: 5
      grid-column: span 4
      justify-self: start
      &__link
        margin-right: 10px
    &__photo
      grid-row: 5
      grid-column: span 7
      justify-self: end
@media (max-width: 766px)
  .container,
    max-width: 576px
    max-width: 92%
  body
    padding-top: 81px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          max-width: 340px
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      bottom: 0
      right: 0
      left: 0
      top: 70px
      &--visible
        display: block
    &-menu
      max-height: 100vh
      overflow: scroll
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
    &-top
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
  .stars
    flex-basis: 0
    &__right
      flex-basis: 0
  .menu-button
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 103px 0 103px 0
    &-wrapper
      ax-width: 576px
      max-width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 5px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        width: 7px
        height: 20px
        background-size: 8px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -95px
          // это настраивате стрелки у слайдера в отделе отзывы так как нам нужно по центру лили же нет
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -95px
          // это настраивате стрелки у слайдера в отделе отзывы так как нам нужно по центру лили же нет
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    padding: 73
    &-wrapper
      grid-template-columns: 190px repeat(3, 1fr) 190px 
    &__input
      flex-basis: 100%
    &__logo
      width: 120px
      grid-row: 1 / 2
      grid-column: span 1
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
    &__categories
      grid-row: 2 / 3
      grid-column: span 1
      justify-self: start
    &__additional
      justify-self: start
      grid-row: 2 / 3
      grid-column: span 3
    &__legal
      grid-row: 2 / 3
      grid-column: span 1
      justify-self: end
    &__contact
      &-details
        grid-row: 3
        grid-column: span 4
      &-form
        grid-row: 4
        grid-column: span 4
    &-end
      padding-top: 33px
      grid-column: span 4
    &__photo
      grid-column: span 1
  .modal
    &__dialog  
      padding: 20px 50px 
    &__input
      &::placeholder 
        text-overflow: ellipsis
@media (max-width: 700px)
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        align-items: start
        flex-direction: column
        grid-row: 2
        grid-column: 1
        margin-top: 30px
      &-link
        margin-top: 20px
        justify-self: start
    &__additional
      margin-top: 20px
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__categories
      margin-top: 20px
      grid-row: 4
      grid-column: 1
    &__legal
      margin-top: 20px
      grid-row: 5
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        margin-top: 20px
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &-end
      grid-row: 8
      grid-column: 1
      justify-self: start
      padding-top: 30px
    &__photo
      grid-row: 9
      grid-column: 1
      justify-self: start
@media (max-width: 578px)
  .container,
    max-width: 89%
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .logo
    width: 99px
    &-button
      width: 15px
      height: 15px
      background-size: 7px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      min-width: 280px
      max-height: 230px
      &__button
        background-size: 8px
        width: 5px
        height: 15px
    &-info
      padding-bottom: 38px
      &__text
        margin-top: 14px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 78%
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
      &__title
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 38px
        text-align: center
        text-transform: uppercase
  .card
    width: 100%
  .footer
    &__title
      margin-top: 17px
      margin-bottom: 18px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-top: 30px
    &__additional
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &-end
      grid-row: 8
      grid-column: 1
      justify-self: start
      padding-top: 30px
      display: flex
      justify-content: space-between
    &__photo
      grid-row: 9
      grid-column: 1
      justify-self: start
  .navbar
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          max-width: 250px
          display: flex
@media (max-width: 320px)
  .container,
    width: 280px
    width: 89%
  .hotel
    padding-top: 0px
    &-info
      padding-bottom: 38px
      &__text
        margin-top: 14px
    &-slider
      min-width: 100%
      height: 180px
      &__item
        height: 100%
        width: 100%
        position: relative
        border-radius: 8px
        overflow: hidden
      &__button
        background-size: 7px
        width: 4px
        height: 10px
  .newsletter
    &-wrapper
      max-width: 89%
  .booking
      &__button
        font-weight: 400
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
    &-slider
      &__text
        text-align: left
  .navbar
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          max-width: 240px
          display: flex
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &__link
      margin-right: 6px
    &__phone
      margin: 0
    &__item
      &--mb-2
        font-size: 14px
        margin-bottom: 20px
    &__title
      margin-top: 0
      &--mb-3
        margin-top: 30px
    &__text
      margin-top: 0
    &__social
      &-link
        margin-top: 20px
    &__input
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $footer-text-color
  .modal
    &__dialog  
      padding: 20px 40px 
      